body {
    background: #666;
}
.btn {
    background-color: #eef0f0;
    color: #848186;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 13px;
    position: relative;
    white-space: nowrap;
    border: 1px solid #cccccc;
    font-weight: bold;
    display: inline-block;
}


.btn_focused {
    border: 1px solid #ff9900;
}

.btn_hoverd {
    background: #cccccc;
}

.btn_mousedownd {
    background: #b3b3b3;
    border-style: inset;
    text-shadow: 0px -1px 0 #999999;
}

.btn_clickd {
    background: #c2c2c2;
    border-style: inset;
    text-shadow: 0px -1px 0 #999999;

}


.btn_blue {
    background: #398ADC;
    border-color: #0d60b4;
    border-left-color: #3295fa;
    border-top-color: #3295fa;
    color: #fff;
    text-shadow: 1px 1px 0 #0d60b4;
}

.btn_blue.btn_focused {
    border: 1px solid #ff9900;
}

.btn_blue.btn_hoverd {
    background: #2890fa; /*border: 1px inset #666666;*/
}

.btn_blue.btn_mousedownd {
    background: #3295fa;
    border-color: #0d60b4;
    border-right-color: #3295fa;
    border-bottom-color: #3295fa;
    text-shadow: 0px -1px 0 #0d60b4;
}

.btn_blue.btn_clickd {
    background: #f00;
    border-color: #0d60b4;
    border-right-color: #3295fa;
    border-bottom-color: #3295fa;
    text-shadow: 0px -1px 0 #0d60b4;

}

.btn_green {
    background: #87B226;
    border-color: #70941f;
    border-left-color: #7dab15;
    border-top-color: #7dab15;
    color: #fff;
    text-shadow: 1px 1px 0 #4d6d03;
}

.btn_green.btn_focused {
    border: 1px solid #ff9900;
}

.btn_green.btn_hoverd {
    background: #749920; /*border: 1px inset #666666;*/
}

.btn_green.btn_mousedownd {
    background: #6b8c1d;
    border-color: #70941f;
    border-right-color: #7dab15;
    border-bottom-color: #7dab15;
    text-shadow: 0px -1px 0 #4d6d03;
}

.btn_green.btn_clickd {
    background: #f00;
    border-color: #70941f;
    border-right-color: #7dab15;
    border-bottom-color: #7dab15;
    text-shadow: 0px -1px 0 #4d6d03;

}
.original_button {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.mainframe {
    width: 800px;
    margin: 12px auto;
    background: #eee;
    border: 4px solid #a2a2a2;
    padding: 24px;
}
#log {
    background: #000;
    color: #0ca005;
    font-family: courier;
    font-size: 10px;
}